$fuentes: 'Tajawal', sans-serif;
$color-blue: #4572d9;
$color2: #19c2e0;
$color3: #05D0EA;
$color4: #03C2DA;
$backgroundcolor: #f9f9f9e8;
$font-weights:(	
	"normal": 400,
	"medium": 500,
	"bold": 700
);


